.calculator {
    width: 300px;
    margin: 50px auto;
    border-radius: 15px;
    padding: 10px;
    background-color: #273248;
    border-radius: 10px;
    background: linear-gradient(225deg, #232d41, #2a364d);
    box-shadow:  -8px 8px 11px #1c2434,
             8px -8px 11px #32405c;
}

.display {
    margin-bottom: 10px;
}

#result {
    border: none;
    text-align: inherit;
    width: 93%;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    color: #ce7f54;
    background-color: #141414;
    border-radius: 10px;
}

.equal {
    background-color: #ce7f54;
    color: #a13334;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #a13334;
    color: #ce7f54;
}

button:hover {
    background-color: #ccc;
}
